{% extends 'base.html.twig' %}
{% block title %}{{ titulo }}{% endblock %}
{% block body %}
<div class="container">
    <h2>{{ titulo }}</h2>
    <p></p>
    <div> 
        <a href="{{ path('client_create') }}" class="btn btn-primary">+ Adicionar</a>
    </div>
    <p></p>
   <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <th scope="row">{{ client.id }}</th>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telephone }}</td>
                <td>
                    <a href="{{ path('client_edit', {id: client.id}) }}" class="btn btn-primary">Editar</a>
                    <a href="{{ path('client_delete', {id: client.id}) }}" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}